/* Fonts  */

$bodyFont: "Exo";

/* Font sizes */

$fontSizeXs: 10px;
$fontSizeSm: 14px;
$fontSizeMd: 16px;
$fontSizeLg: 20px;
$fontSizeXl: 32px;
$fontSize2Xl: 48px;

/* Colors */
$white: #fff;
$lightBlue: #e8faff;
$lightGreen: #abe0de;
$darkGreen: #617e8b;
$lightBlueGreen: #dcf9f9;
$darkBlue: #001;

/* Spacing */

$spacingXs: 4px;
$spacingSm: 8px;
$spacingMd: 16px;
$spacingLg: 32px;
$spacingXl: 48px;
$spacing2Xl: 64px;
