<template>
  <div id="app">
    <router-view></router-view>
    <footer>
      <router-link :to="{name: 'About'}"><AsterixLogo class="logo"/></router-link>
    </footer>
  </div>
</template>

<script>
import AsterixLogo from "./assets/images/asteroid-logo.svg";
export default {
  name: "App",
  components: {
    AsterixLogo
  }
};
</script>

<style lang="scss">
@import "./assets/styles/base/base.scss";
</style>

<style lang="scss" scoped>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //text-align: center;
    color: #2c3e50;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: $darkBlue;

    ::v-deep header{
      display: block;
      margin: 0px;
      padding: 0px $spacingMd;
      position: fixed;
      top: $spacingLg;
      left: 0;
      z-index: 999;

      h1 {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-family: $bodyFont;
        font-weight: 500;
        color: $darkGreen;
        font-size: $fontSizeMd;
        .text {
          margin-right: $spacingSm;
        }
      }
    }

    footer {
      display: block;
      margin: 0px;
      padding: 0px $spacingMd;
      position: fixed;
      left: 0;
      z-index: 999;
      bottom: $spacingLg;
      font-size: $fontSizeSm;
      user-select: none;
      
      .logo {
        display: block;
        width: 80px;
        margin-bottom: $spacingXs;
        path {
          fill: rgba($darkGreen,0.5);
          transition: 0.3s;
        }
        &:hover {
          path {
            fill: rgba($lightGreen, 0.8);
          }
        }
      }
    }
  }
  ::v-deep a {
    color: $darkGreen;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      color: rgba($lightGreen, 0.8);
    }
  }
</style>
