<template>
  <div class="coords-wrap" v-click-outside="event => closeInputs(event)">
    <div class="rotation">
      <div class="coord"><strong>Vertical rot:</strong>{{ vRot }}</div>
      <div class="coord"><strong>Horizontal rot:</strong>{{ hRot }}</div>
    </div>

    <div class="coord" >
      <strong>X:</strong>
      <input  v-if="showingInput('x')"
              type="text" 
              v-model="xVal"
              class="input"
              @change="$emit('update-x', xVal)"
      >
      <span   v-else
              class="value" 
              @click="event => triggerInput(event, 'x', x)">
              {{ x }}
      </span>
    </div>

    <div class="coord">
      <strong>Y:</strong>
      <input  v-if="showingInput('y')" 
              type="text" 
              v-model="yVal"
              class="input"
              @change="$emit('update-y', yVal)"
      >
      <span   v-else
              class="value" 
              @click="event => triggerInput(event, 'y', y)">
              {{ y }}
      </span>
    </div>

    <div class="coord">
      <strong>Z:</strong>
      <input  v-if="showingInput('z')" 
              type="text" 
              v-model="zVal"
              class="input"
              @change="$emit('update-z', zVal)"
      >
      <span   v-else
              class="value" 
              @click="event => triggerInput(event, 'z', z)">
              {{ z }}
      </span>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'

export default {
  name: "Controls",
  props: ["x", "y", "z", "v-rot", "h-rot"],
  data(){
    return {
      xVal: this.x,
      yVal: this.y,
      zVal: this.z,
      triggeredInputs: []
    }
  },
  methods: {
    closeInputs(event){
      event.stopPropagation();
      this.triggeredInputs = [];
    },
    showingInput(coord){
      return this.triggeredInputs.indexOf(coord) > -1;
    },
    triggerInput(event, coord, val){
      event.stopPropagation();
      let triggeredIndex = this.triggeredInputs.indexOf(coord);
      if(triggeredIndex === -1){
        this.triggeredInputs.push(coord);
        switch(coord){
          case "x": 
            this.xVal = val;
            break;
          case "y": 
            this.yVal = val;
            break;
          case "z": 
            this.zVal = val;
            break;
        }
      } else this.triggeredInputs.splice(triggeredIndex, 1);
    }
  },
  directives: {
    ClickOutside
  }
}
</script>

<style lang="scss" scoped>
.coords-wrap {
  display: block;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: $lightGreen;
  font-size: $fontSizeMd;
  font-family: $bodyFont;

  .reset-btn {
    background-color: $lightGreen;
    padding: $spacingXs $spacingSm;
    border: none;
    font-family: $bodyFont;
    margin-bottom: $spacingMd;
  }

  .coord {
    display: inline-block;
    margin: $spacingSm;
    min-width: 60px;
    text-align: left;
    strong {
      margin-right: $spacingXs;
    }
    .value, .input {
      display: inline-block;
      width: 45px;
      height: 30px;
      padding: 5px;
      margin: 0px;
      box-sizing: border-box;
    }
    .value {
      &:hover{
        background-color: $darkGreen;
      }
    }
    .input {
      background-color: $darkGreen;
      color: $lightBlueGreen;
      font-size: $fontSizeMd;
      font-family: $bodyFont;
      border: 0px;
      outline: none;
    }
  }
}
</style>