<template>
  <div class="playline-wrap">
    <div  class="playline">
      <span ref="marker" 
            class="marker" 
            :style="`transform: translateX(${(step/maxStep)*350}px);`"
            @mousedown="event => triggerMove(event)"
      ></span>
    </div>
  </div>
</template>

<script>
export default {
  name: "PlayLine",
  props: ["step", "max-step"],
  data(){
    return {
      moving: false,
      newStep: null
    }
  },
  methods: {
    triggerMove: function(event){
      event.stopPropagation();
      this.moving = true;
      this.$emit('set-speed', 0);
    },
    stopMove: function(event) {
      event.stopPropagation();
      this.moving = false;
    },
    moveMarker: function(event){
      event.stopPropagation();
      let marker = this.$refs.marker;
      if(this.moving){
        let pos = marker.style.transform
                  .replace("translateX(", "")
                  .replace("px)","");
        let newPos = parseFloat(pos) + event.movementX;
        let newStep = newPos * (this.maxStep/350);
        if(newStep >= 0 && newStep <= this.maxStep){
          marker.style.transform = `translateX(${newPos}px)`;
          this.$emit('set-step', newStep);
        }
      }
    }
  },
  mounted(){
    window.addEventListener('mousemove', event => this.moveMarker(event))
    window.addEventListener('mouseup', event => this.stopMove(event))

  }
}
</script>

<style lang="scss" scoped>
  .playline-wrap {
    display: block;
    width: 100%;
    width: 350px;

    .playline {
      display: block;
      width: 350px;
      height: 10px;
      position: relative;
      background-color: rgba($darkGreen, 0.5);

      .marker {
        display: inline-block;
        width: 10px;
        height: 20px;
        position: absolute;
        left: 0px;
        bottom: -5px;
        background-color: $lightGreen;
        border-radius: 3px;
        cursor: pointer;
      }
    }
  }
</style>