<template>
  <div class="speed-control">
    <button class="speed" 
            title="Minimum speed"
            @click="decreaseSpeed(true)"
    >
      <font-awesome-icon :icon="['fas', 'fast-backward']"/>
    </button>
    <button class="speed" 
            title="Decrease speed"
            @click="decreaseSpeed(false)"
    >
      <font-awesome-icon :icon="['fas', 'backward']"/>
    </button>
    <button class="speed" 
            title="Pause"
            @click="pause"
    >
      <font-awesome-icon :icon="['fas', 'pause']"/>
    </button>
    <button class="speed" 
            title="Increase speed"
            @click="increaseSpeed(false)"
    >
      <font-awesome-icon :icon="['fas', 'forward']"/>
    </button>
    <button class="speed"
            title="Max speed"
            @click="increaseSpeed(true)"
    >
      <font-awesome-icon :icon="['fas', 'fast-forward']"/>
    </button>
  </div>
</template>

<script>
export default {
  name: "Speed",
  props: ["speed", "min-speed", "max-speed"],
  methods: {
    pause: function(){
      this.$emit("set-speed", 0);
    },
    decreaseSpeed: function(min){
      if(min)
        this.$emit("set-speed", this.minSpeed)
      else if( this.speed - 10 >= this.minSpeed )
        this.$emit("set-speed", this.speed - 10)
      else 
        this.$emit("set-speed", this.minSpeed)
      
    },
    increaseSpeed: function(max){
      if(max)
        this.$emit("set-speed", this.maxSpeed)
      else if( this.speed + 10 <= this.maxSpeed )
        this.$emit("set-speed", this.speed + 10)
      else 
        this.$emit("set-speed", this.maxSpeed)
    }
  }
}
</script>

<style lang="scss" scoped>
  .speed-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    button.speed {
      padding: $spacingSm;
      background-color: $lightGreen;
      border: none;
      margin: 0px $spacingXs;
      border-radius: 0px;

      &:hover {
        background-color: $darkGreen;
      }
    }
  }
</style>