*,
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: $bodyFont;
  scroll-behavior: smooth;
}

html, body {
  background-color: $darkBlue;
}
.btn {
  padding: $spacingSm $spacingMd;
  background-color: $darkGreen;
  border: 0px;
  color: $white;
}