<template>
  <section
    class="side-bar"
    :class="{ 
      'open': sideBarOpen,
      'open-with-config': configOpen
     }"
    v-click-outside="(event) => closeSideBar(event)"
    @click="(event) => openSideBar(event)"
  >
    <span class="handle" @click="(event) => toggleSideBar(event)"></span>
    <nav v-if="!configOpen">
      <ul class="folder-list">
        <li v-for="(folder, index) in folders" :key="folder.name">
          <div class="folder-list-item">
            <div @click="(event) => openFolder(event, index)">
              <font-awesome-icon
                v-if="folderOpen(index)"
                :icon="['fas', 'folder-open']"
              />
              <font-awesome-icon v-else :icon="['fas', 'folder']" />
              <span class="folder-name">{{ folder.name }}</span>
            </div>
            <font-awesome-icon
              title="Run this sim"
              class="right-icon"
              :icon="['fas', 'redo']"
              @click="(event) => runSim(event, folder.name)"
            />
          </div>
          <ul class="file-list" v-if="folderOpen(index)">
            <li v-for="file in folder.files" :key="file">
              <div>
                <font-awesome-icon :icon="['fas', 'file']" />
                <span class="file-name">{{ file }}</span>
              </div>
              <font-awesome-icon
                title="Download file"
                class="right-icon"
                :icon="['fas', 'download']"
                @click="(event) => downloadFile(event, folder.name, file)"
              />
            </li>
          </ul>
        </li>
      </ul>
      <button 
        class="btn new-sim-btn" 
        @click="event => openConfig(event)">
        {{previewSim ? 'Open config' : 'New sim'}}
      </button>
    </nav>
    <ConfigEditor 
      v-if="configOpen || previewSim"
      @preview="bodies => showPreview(bodies)"
      @close-editor="closeConfig"
      @system-message="message => $emit('system-message', message)"
      :class="{'hide-config': !configOpen && previewSim }"
    />
  </section>
</template>

<script>
import ClickOutside from "vue-click-outside";
import axios from "axios";

export default {
  name: "Sidebar",
  components: {
    ConfigEditor: () => import("../ConfigEditor/ConfigEditor")
  },
  props: ["open"],
  data() {
    return {
      folders: [],
      indecesOpen: [],
      sideBarOpen: this.open,
      filePreview: false,
      fileContent: "",
      configOpen: false,
      previewSim: false
    };
  },
  computed: {
    baseUrl: () => {
      if(process.env.NODE_ENV === "production")
        return "https://asterix-server.herokuapp.com";
      return "http://localhost:5000";
    }
  },
  methods: {
    showPreview(bodies){
      this.previewSim = true;
      this.$emit('preview', bodies)
    },
    closeConfig(){
      this.configOpen = false
      this.$emit('config-open', false);
    },
    openConfig(event){
      event.stopPropagation();
      this.configOpen = true;
      this.$emit('config-open', true);
    },
    openSideBar: function (event) {
      event && event.stopPropagation();
      this.sideBarOpen = true;
    },
    closeSideBar: function (event) {
      event && event.stopPropagation();
      this.sideBarOpen = false;
    },
    toggleSideBar: function (event) {
      event && event.stopPropagation();
      this.sideBarOpen = !this.sideBarOpen;
    },
    runSim: function (event, foldername) {
      event && event.stopPropagation();
      this.sideBarOpen = false;
      this.previewSim = false;
      this.$emit("run-sim", foldername);
    },
    downloadFile: function (event, folder, filename) {
      event && event.stopPropagation();
        axios
        .get(`${this.baseUrl}/file?run=${folder}&file=${filename}`, 
          { responseType: "blob" }
          )
        .then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute("download", filename);
          link.click();
        })
        .catch((error) => {
          this.$emit(
            "system-message",
            `Unable to download file: ${error.message}`
          );
          console.log("Error downloading file:", error.message);
        });
    },
    openFolder: function (event, index) {
      event && event.stopPropagation();
      let openIndex = this.indecesOpen.indexOf(index);
      if (openIndex > -1) {
        this.indecesOpen.splice(openIndex, 1);
      } else {
        this.indecesOpen.push(index);
      }
    },
    folderOpen: function (index) {
      return this.indecesOpen.indexOf(index) > -1;
    },
    fileExt: function (file) {
      return file.split(".").pop();
    },
    getFolderStructure: function () {
      axios.get(`${this.baseUrl}/get-run-dir-structure`)
        .then((response) => {
          this.folders =
            (response && response.data && response.data) || [];
        })
        .catch((error) => {
          this.$emit(
            "system-message",
            `Unable to get run folders: ${error.message}`
          );
          console.log("Error fetching folders:", error.message);
        });
    },
  },
  created() {
    this.getFolderStructure();
  },
  directives: {
    ClickOutside,
  },
};
</script>
<style lang="scss" scoped>
.side-bar {
  display: block;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -270px;
  padding: $spacingLg;
  box-sizing: border-box;
  text-align: left;
  background-color: $lightGreen;
  z-index: 9999;
  overflow-y: scroll;
  transition: 0.3s ease-in-out;

  &.open-with-config {
    width: 600px;
  }
  &.open, 
  &.open-with-config {
    right: 0;
    background-color: $lightBlue;
    .handle {
      left: 7px;
    }
  }
  

  .handle {
    display: inline-block;
    width: 4px;
    height: 40px;
    border-radius: 5px;
    background-color: $darkGreen;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s;
  }
  ul {
    list-style: none;

    .folder-list-item {
      display: inline-flex;
      width: 100%;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }

    li {
      text-transform: capitalize;
      padding: $spacingSm;

      &:nth-child(2n) {
        background-color: $lightBlueGreen;
      }
      .file-list {
        padding: $spacingSm;
        li {
          display: inline-flex;
          width: 100%;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;
        }
      }
      .folder-name {
        margin-left: $spacingSm;
        cursor: pointer;
      }
      .file-name {
        margin-left: $spacingSm;
        margin-right: $spacingSm;
        word-break: break-all;
      }
      .right-icon {
        font-size: $fontSizeSm;
        padding: $spacingSm;
        cursor: pointer;

        &:hover {
          background-color: $lightGreen;
        }
      }
    }
  }

  .new-sim-btn {
    margin-top: $spacingMd;
  }

  .file-preview {
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 90%;
    background-color: $white;
  }

  .hide-config {
    display: none;
  }
}
</style>