<template>
  <section class="controls">
    <Coordinates
      :x="camPosX" :y="camPosY" :z="camPosZ" :v-rot="camVRot" :h-rot="camHRot"
      @update-x="val => $emit('update-x', val)"
      @update-y="val => $emit('update-y', val)"
      @update-z="val => $emit('update-z', val)"
    />
    <div class="tools">
      <PlayLine 
        class="playline"
        :step="step" 
        :max-step="maxStep" 
        @set-step="newStep => $emit('set-step', newStep)"
        @set-speed="newSpeed => $emit('set-speed', newSpeed)"
      />
      <Speed 
        class="speed"
        :speed="speed"
        :min-speed="minSpeed"
        :max-speed="maxSpeed"
        @set-speed="newSpeed => $emit('set-speed', newSpeed)"
      />
    </div>
  </section>
</template>

<script>
export default {
  name: "Controls",
  components: {
    Coordinates: () => import("./Children/Coordinates"),
    PlayLine: () => import("./Children/PlayLine"),
    Speed: () => import("./Children/Speed")
  },
  props: [ "x", "y", "z", 
          "v-rot", 
          "h-rot", 
          "step",
          "max-step",
          "speed", 
          "min-speed", 
          "max-speed"
        ],
  computed: {
    camPosX() { return Number(this.x).toFixed(1)},
    camPosY() { return Number(this.y).toFixed(1)},
    camPosZ() { return Number(this.z).toFixed(1)},
    camVRot() {return Number(this.vRot * (180 / Math.PI)).toFixed(1)},
    camHRot() {return Number(this.hRot * (180 / Math.PI)).toFixed(1)}
  }
}
</script>

<style lang="scss" scoped>
  .controls {
    width: 100%;
    .tools {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 600px;
      position: absolute;
      bottom: $spacingLg;
      left: 150px;
    }
  }

</style>