<template>
  <section id="about">
    <header>
      <h1>
        <router-link :to="{name: 'Simulation'}">
          Home
        </router-link>
        <span class="slash">/</span>
        <span class="text">About</span>
      </h1>
    </header>
    <div class="article">
      <h2>What is the idea?</h2>
      <ul>
        <li><a href="#measuringGravity">Measuring gravity</a></li>
        <li><a href="#developingSats">Developing satellites</a></li>
        <li><a href="#why">Why</a></li>
        <li><a href="#contribute">Contribute</a></li>
      </ul>
      <p>
        Asteroids is initially looking at developing software that will prove the feasibility of using small sats to do gravimetry on small bodies. This kind of analysis will help back out the mass distribution of small bodies using imperfect and noisy time-of-flight measurements of a number of satellites that are released nearby the body.
      </p>

      <h3>Measuring gravity to find the mass distribution</h3>
      <p>
        In the far-field a nonuniform body's gravity very nearly approximates that of a point mass. From this far field gravity it is very difficult to discern a body's irregularities. However, as you near the object the gravity topology of the object becomes less spherical and less uniform. It can be shown that a body's gravity is one-to-one with a mass distribution and as a result knowing the gravity topology is the same as knowing the mass distribution itself.
      </p>
      <figure>
        <img class="image" :src="require('@/assets/images/gravity-field1.png')" alt="Gravity field"/>
        <figcaption>
          <strong>Figure#1:</strong> Equal mass gravitational quadrupole
        </figcaption>
      </figure>
      <p>
        Knowing a body's mass distribution is very useful in prospecting of said bodies as well as finding very low orbits for these bodies.
        <br/>
        <br/>
        There are many near earth objects(NEOs) and this fact is the main point of product. In the near future it shouldn't be too difficult to stop by one and start manufacturing on the body itself.
      </p>
      <figure>
        <img class="image" :src="require('@/assets/images/near-earth-asteroid-map.gif')" alt="NEO map"/>
        <figcaption>
          <strong>Figure#2:</strong> Map of near earth asteroids
        </figcaption>
      </figure>

      <h3 id="developingSats">Developing small satellites</h3>
      <p>
        In the future we will also develop cheap small satellites that will be the satellites in question. For now, however, we will make simulations. <a href="#figure3">Figure#3</a> is an example of such a satellite.
      </p>
      <figure id="figure3">
        <img class="image" :src="require('@/assets/images/KickSprite_sm.jpg')" alt="Kick sprite"/>
        <figcaption>
          <strong>Figure#3:</strong> Satellite example
        </figcaption>
      </figure>
      <h3 id="why">Why is this useful?</h3>
      <p>
      Asteroids are unimaginably valuable. Not only because some asteroids are rich in precious metals such as Platinum and Gold but also because the massive amount of material that is already in space needs no push to escape Earth's gravity. The most valuable of these asteroids is estimated to be valued at 15 quintillion dollars. However, the near Earth objects(NEO) are (luckily) much more modest. 
      </p>
      </div>
      <!-- Table -->
      <div class="table-wrap">
        <table>
          <th>Asteroid Name</th>
          <th>Mass(kg)</th>
          <th>Est. Value (Billions $)</th>
          <th>Est. Profit (Billions $)</th>
          <th>Composition</th>
          <tr>
            <td>Ryugu</td>
            <td>4.5e11</td>
            <td>83</td>
            <td>30</td>
            <td>Nickel, iron, cobalt, water, nitrogen, hydrogen, ammonia</td>
          </tr>
          <tr>
            <td>1989 ML</td>
            <td>?</td>
            <td>14</td>
            <td>4</td>
            <td>Nickel, iron, cobalt </td>
          </tr>
          <tr>
            <td>Nereus</td>
            <td>?</td>
            <td>5</td>
            <td>1</td>
            <td>Nickel, iron, cobalt</td>
          </tr>
          <tr>
            <td>Bennu</td>
            <td>7.3e10</td>
            <td>.7</td>
            <td>.2</td>
            <td>Iron, hydrogen, ammonia, nitrogen</td>
          </tr>
          <tr>
            <td>Didymos</td>
            <td>?</td>
            <td>62</td>
            <td>16</td>
            <td>Nickel, iron, cobalt</td>
          </tr>
          <tr>
            <td>2011 UW158</td>
            <td>?</td>
            <td>7</td>
            <td>2</td>
            <td>Platinum, nickel, iron, cobalt</td>
          </tr>
          <tr>
            <td>Anteros</td>
            <td>1.5e13</td>
            <td>5570</td>
            <td>1250</td>
            <td>Magnesium silicate, aluminum, iron silicate</td>
          </tr>
          <tr>
            <td>2001 CC21</td>
            <td>?</td>
            <td>147</td>
            <td>30</td>
            <td>Magnesium silicate, aluminum, iron silicate</td>
          </tr>
          <tr>
            <td>1992 TC</td>
            <td>?</td>
            <td>84</td>
            <td>17</td>
            <td>Nickel, iron, cobalt</td>
          </tr>
          <tr>
            <td>2001 SG10</td>
            <td>?</td>
            <td>3</td>
            <td>.5</td>
            <td>Nickel, iron, cobalt</td>
          </tr>
          <tr>
            <td>Psyche</td>
            <td>24e19?</td>
            <td>27.67</td>
            <td>1.78</td>
            <td>Nickel, iron, cobalt, gold</td>
          </tr>
        </table>
      </div>
      <div class="article">
      <p>
        On a Falcon 9 the cost of raising a single kilogram to LEO is on the order of $2000. That means the cost of lifting Ryugu to LEO is on the order of 90 trillion dollars. In comparison the global GDP of the world is 80 trillion dollars. In effect, asteroids are a shortcut to developing in-space infrastructure.
      </p>
      <h3 id="contribute">Contribute</h3>
      <p>
        If you want to be part of this project, check out our 
        <a 
          href="https://bitbucket.org/whoisthegingerbreadman/asteroids/src/master/"
          title="Bitbucket repo"
          target="_blank"
        >
        repo on Bitbucket
        </a>
      </p>
    </div>
    <a class="to-top-btn" href="#about">
      <font-awesome-icon :icon="['fas', 'chevron-circle-up']" />
    </a>
  </section>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style lang="scss" scoped>
  .slash {
    display: inline-block;
    padding: 0px $spacingSm;
  }
  header {
    position: relative !important;
  }
  .article {
    width: 100%;
    max-width: 650px;
    margin: 0px auto;
    padding: $spacing2Xl $spacingMd;
    color: $lightGreen;
    box-sizing: border-box;

    ul {
      list-style: none;
      margin-bottom: $spacingLg;
      li {
        margin-right: $spacingMd;
        margin-bottom: $spacingXs;

        @media screen and (min-width: 600px){
          display: inline-block;
        }

        &:before {
          content: "⇨";
          margin-right: $spacingSm;
        }
      }
    }
    h2 {
      margin-top: $spacingXl;
      margin-bottom: $spacingMd;
    }
    h3 {
      margin-top: $spacingLg;
      margin-bottom: $spacingSm;
    }
    figure {
      display: block;
      padding: $spacingMd;
      margin: $spacingMd 0px;
      box-sizing: border-box;
      width: 100%;
      //background-color: $darkGreen;
      .image{
        max-width: 100%;
        box-sizing: border-box;
      }

      figcaption {
        font-size: $fontSizeSm;
        color: $lightBlueGreen;
      }
    }
    p a {
      border-bottom: 1px dotted $darkGreen;
      &:hover {
        color: rgba($lightGreen, 0.8);
        border-bottom: 1px dotted rgba($lightGreen, 0.8);
      }
    }
  }
  .table-wrap {
    overflow-x: auto;
    table {
      width: 1000px;
      color: $lightGreen;
      box-sizing: border-box;
      margin: $spacingMd auto;
      table-layout: fixed;
      border-collapse: collapse;
      th, td {
        padding: $spacingSm $spacingXs;
        text-align: left;
        &:first-child {
          padding-left: $spacingMd;
        }
        &:last-child {
          padding-right: $spacingMd;
        }
      }
      tr:hover {
        background-color: rgba($darkGreen, 0.2);
      }
      tr:nth-child(2n){
        background-color: rgba($darkGreen, 0.1);
        &:hover {
          background-color: rgba($darkGreen, 0.2);
        }
      }
    }
  }
  a.to-top-btn {
    display: block;
    position: fixed;
    bottom: $spacingLg;
    right: $spacingLg;
    color: $darkGreen;
    font-size: $fontSizeXl;
    &:hover {
      color: $lightGreen;
    }
  }
</style>