<template>
  <div class="simulation">
    <header>
      <h1 :class="{'run-title': loaded}">
        <span v-if="loaded || loaded === null" class="text">{{
          runTitle
        }}</span>
        <span v-else-if="loaded === false" class="loader"></span>
      </h1>
    </header>

    <Sidebar
      :open="sideBarOpen"
      @run-sim="(runName) => runSim(runName)"
      @system-message="(message) => setSystemMessage(message)"
      @preview="bodies => showPreview(bodies)"
      @config-open="open => configOpen = open"
    />
    <VisualizationScene
      v-if="loaded"
      class="vis-scene"
      backgroundImage="/galaxy_starfield.jpg"
      :preview="previewVis"
      :width="width"
      :height="height"
      :minZCoord="0.1"
      :upperPlane="200"
      :objects="objects"
      :configOpen="configOpen"
    />
    <div v-if="systemMessage" class="system-message">
      <font-awesome-icon
        title="Close window"
        class="close"
        :icon="['fas', 'window-close']"
        @click="(event) => closeSystemMessage(event)"
      />
      <span class="text">{{ systemMessage }}</span>
    </div>

  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Simulation",
  components: {
    Sidebar: () => import("../components/Sidebar/Sidebar"),
    VisualizationScene: () => import("../components/Visualization/VisualizationScene"),
  },
  data() {
    return {
      objects: [],
      runTitle: "No simulation has run",
      loaded: null,
      systemMessage: null,
      sideBarOpen: true,
      previewVis: false,
      configOpen: false
    };
  },
  computed: {
    width: () => window.innerWidth,
    height: () => window.innerHeight,
    baseUrl: () => {
      if(process.env.NODE_ENV === "production")
        return "https://asterix-server.herokuapp.com";
      return "http://localhost:5000";
    }
  },
  methods: {
    showPreview(bodies){
      this.loaded = false;
      this.previewVis = true;
      this.objects = bodies;
      this.runTitle = "Preview";
      let origThis = this;
      setTimeout(function(){origThis.loaded = true;}, 100);
    },
    setSystemMessage(systemMessage) {
      this.systemMessage = systemMessage;
    },
    closeSystemMessage(event) {
      event && event.stopPropagation();
      this.systemMessage = null;
    },
    runSim(runName) {
      this.simData = {};
      this.loaded = false;
      this.previewVis = false;

      axios.get(`${this.baseUrl}/get-run-dir?run=${runName}`)
      .then(async response => {
        let files = response.data;
        let objects = [];
        for (let file of files) {
          let objectName = "";
          file = file.split(".");
          if (file[0].indexOf("body") > -1 && file[1] === "json") {
            objectName = file[0].replace("/", "").replace("body", "");
          }
          if (objectName !== "" && file[0].indexOf(objectName) > -1) {
            let objectData = await getObjectData(runName, objectName);
            let objectConfig = objectData[0].data;
            let objectPositions = objectData[1].data;
            objectConfig = { ...objectConfig, positions: objectPositions };
            objects.push(objectConfig);
          }
        }
        this.objects = objects;
        this.runTitle = runName;
        this.loaded = true;
      })
      
      let origThis = this;
      function getObjectData(runName, objectName){
        let objectConfigFile = `body${objectName}.json`
        let objectPositionsFile = `history${objectName}.csv`;
        let objectCalls = [
          axios.get(`${origThis.baseUrl}/file?run=${runName}&file=${objectConfigFile}`),
          axios.get(`${origThis.baseUrl}/file?run=${runName}&file=${objectPositionsFile}`)
          ]
        return Promise.all(objectCalls)
      }
    }
  }
};
</script>

<style lang="scss">
@import "../assets/styles/base/base.scss";
</style>

<style lang="scss" scoped>

  .run-title {
    text-transform: capitalize;
  }

  .vis-scene {
    position: fixed;
    top: 0;
    left: 0;
  }

  .system-message {
    display: block;
    position: fixed;
    bottom: $spacingLg;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: auto;
    background-color: rgba($darkGreen, 0.7);
    padding: $spacingMd $spacingLg;
    z-index: 9999;
    .close {
      position: absolute;
      top: $spacingXs;
      right: $spacingXs;
      color: $lightBlueGreen;
      cursor: pointer;
    }
    .text {
      color: $lightBlueGreen;
    }
  }

  // credits, loader: https://projects.lukehaas.me/css-loaders/
  .loader {
    display: inline-block;
    color: $lightGreen;
    font-size: 20px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0px $spacingSm;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
        -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
        -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
        -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
        -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
        -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
        -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
        -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
        -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
</style>
