<template>
  <section class="config-editor">
    <font-awesome-icon
        title="Close editor"
        class="close-btn"
        :icon="['fas', 'window-close']"
        @click="event => closeEditor(event)"
      />
    <div class="config-title">
      <h2>Simulation config</h2>
      <font-awesome-icon
        title="Download file"
        class="download-btn"
        :icon="['fas', 'download']"
        @click="(event) => downloadConfig(event)"
      />
    </div>
    <div class="step-settings">
      <span class="steps">
        # steps: 
        <input type="number" min="10" v-model="steps"/>
      </span>
      <span class="dt">
        dt:
        <input type="number" min="0.01" v-model="dt"/>
      </span>
    </div>
    <div class="bodies">
      <span class="title">bodies:</span>
      <div 
        v-for="(body, index) in bodies" 
        :key="`body-${index}`"
        class="body"
      >
        <span class="title">{{`body#${index}`}}</span>
        <div class="body-row">
         <span class="title">name:</span> <input type="text" v-model="bodies[index].name"/>
        </div>
        <div class="body-row">
         <span class="title">type:</span> 
         <select type="text" v-model="bodies[index].type">
            <option 
              v-for="option in typeOptions" 
              :key="option"
              :value="option"
            >
            {{option}}
            </option>
         </select>
        </div>
        <div class="body-row">
          <span class="title">mass:</span><input type="number" v-model="bodies[index].physics.mass"/>
        </div>
        <div class="body-row multiple-cols">
          <div class="title">scale</div>
          <span>local: <input type="number" v-model="bodies[index].transform.scale.local"/></span>
          <span>x: <input type="number" v-model="bodies[index].transform.scale.x"/></span>
          <span>y: <input type="number" v-model="bodies[index].transform.scale.y"/></span>
          <span>z: <input type="number" v-model="bodies[index].transform.scale.z"/></span>
        </div>
        <div class="body-row multiple-cols">
          <span class="title">position</span>
          <span>x: <input type="number" v-model="bodies[index].transform.position.x"/></span>
          <span>y: <input type="number" v-model="bodies[index].transform.position.y"/></span>
          <span>z: <input type="number" v-model="bodies[index].transform.position.z"/></span>
        </div>
        <div class="body-row multiple-cols">
          <span class="title">velocity</span>
          <span>x: <input type="number" v-model="bodies[index].transform.velocity.x"/></span>
          <span>y: <input type="number" v-model="bodies[index].transform.velocity.y"/></span>
          <span>z: <input type="number" v-model="bodies[index].transform.velocity.z"/></span>
        </div>
        <div class="body-row multiple-cols">
          <span class="title">rotation</span>
          <span>x: <input type="number" v-model="bodies[index].transform.rotation.x"/></span>
          <span>y: <input type="number" v-model="bodies[index].transform.rotation.y"/></span>
          <span>z: <input type="number" v-model="bodies[index].transform.rotation.z"/></span>
        </div>
        <div class="body-row multiple-cols">
          <span class="title">rotation velocity</span>
          <span>x: <input type="number" v-model="bodies[index].transform.rotation_velocity.x"/></span>
          <span>y: <input type="number" v-model="bodies[index].transform.rotation_velocity.y"/></span>
          <span>z: <input type="number" v-model="bodies[index].transform.rotation_velocity.z"/></span>
        </div>
      </div>
      <button 
        class="btn new-body-btn"
        @click="addBody"
      >
        New body
      </button>
      <button class="btn preview-btn"
        @click="event => previewObjects(event)"
        >
        Preview objects
      </button>
    </div>
  </section>
</template>

<script>
export default {
  name: "ConfigEditor",
  data(){
    return {
      steps: 3000,
      dt: 0.05,
      bodies: []
    }
  },
  computed: {
    typeOptions(){
      return ["point_mass", "container"]
    }
  },
  methods: {
    previewObjects: function(event){
      event.stopPropagation();
      if(this.bodies.length)
        this.$emit('preview', this.bodies)
      else
        this.$emit("system-message", "No bodies added to config file")
    },
    closeEditor: function(event){
      event.stopPropagation();
      this.$emit('close-editor')
    },
    addBody: function(){
      this.bodies.push({
        name: "Earth",
        type: "point_mass",
        transform: {
          position: { x: 0.2, y: 0, z: 0 },
          velocity: { x: 0, y: 0, z: 0 },
          rotation: { x: 0, y: 0, z: 0 },
          rotation_velocity: { x: 0, y: 0, z: 0 },
          scale: { local: 1, x: 1, y: 1, z: 1 }
        },
        physics: {
          mass: 2e10
        }
      });
    },
    createJSONConfig: function(){
      let steps = this.steps;
      let dt = this.dt;
      let bodies = this.bodies;
      return JSON.stringify({ steps, dt, bodies });
    },
    downloadConfig: function(event){
      event.stopPropagation();
      let json = this.createJSONConfig();
      let filename = "sim-config.json";
      let blob = new Blob([json], { type: "text/plain;charset=utf-8" });
      let url = window.URL || window.webkitURL;
      let link = document.createElement("a");
      link.href = url.createObjectURL(blob);
      link.setAttribute("download", filename);
      link.click();
    }
  }
}
</script>

<style lang="scss" scoped>
  .config-editor {
    display: block;
    width: 100%; 
    height: 100%;
    background-color: inherit;
    text-align: left;

    .close-btn {
      position: absolute;
      top: $spacingMd;
      right: $spacingMd;
      cursor: pointer;
    }

    .config-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 200px;
      margin-bottom: $spacingMd;

      h2 {
        text-align: left;
        font-size: $fontSizeLg;
        font-weight: 400;
      }
      .download-btn {
        padding: $spacingSm;
        cursor: pointer;
        &:hover {
          background-color: $lightGreen;
        }
      }
    }
    input, select {
      padding: $spacingXs $spacingSm;
      border: 1px solid $lightGreen;
      box-sizing: content-box;
    }
    .step-settings {
      display: flex;
      justify-content: space-between;
      width: 260px;
      .steps input{
        width: 65px;
      }
      .dt input {
        width: 50px;
      }
    }
    .bodies {
      display: block;
      margin-top: $spacingLg;

      .title {
        display: block;
      }
      .body{
        margin: $spacingLg 0px;

        .title {
          margin: $spacingSm;
        }
        .body-row {
          display: flex;
          align-items: center;
          padding: $spacingSm $spacingLg;
          max-width: 600px;
          &:nth-child(2n){
            background-color: $lightBlue;
          }
          &.multiple-cols {
            justify-content: space-between;
          }
          .title {
            width: 100px;
          }
          input[type=text], 
          select{
            width: 135px;
          }
          input[type=number]{
            width: 50px;
          }
        }
      }
      .new-body-btn {
        margin-top: $spacingMd;
      }
      .preview-btn {
        margin-left: $spacingMd;
      }
    }

  }
</style>