<template>
  <section>
    <div
      ref="visualizationScene"
      class="visualization-scene"
    >
      <Controls
        :x="camera && camera.position.x"
        :y="camera && camera.position.y"
        :z="camera && camera.position.z"
        :v-rot="orbitControls && orbitControls.getPolarAngle()"
        :h-rot="orbitControls && orbitControls.getAzimuthalAngle()"
        :speed="speed"
        :min-speed="1"
        :max-speed="201"
        :step="step"
        :max-step="objects[0].positions && objects[0].positions.length - 1"
        @update-x="(val) => updateCamera('x', val)"
        @update-y="(val) => updateCamera('y', val)"
        @update-z="(val) => updateCamera('z', val)"
        @reset="resetControls"
        @set-speed="(newSpeed) => setSpeed(newSpeed)"
        @set-step="(newStep) => setStep(newStep)"
      />
    </div>
  </section>
</template>

<script>
import * as THREE from "three";
const OrbitControls = require("three-orbit-controls")(THREE);
import createSphereObject from "../../mixins/createSphereObject.js";

export default {
  name: "VisualizationScene",
  components: {
    Controls: () => import("./Controls/Controls"),
  },
  props: {
    preview: {
      type: Boolean,
      default: false
    },
    configOpen: {
      type: Boolean,
      default: false
    },
    width: {
      type: Number,
      default: 1500,
    },
    height: {
      type: Number,
      default: 1000,
    },
    lowerPlane: {
      type: Number,
      default: 0.1,
    },
    zInit: {
      type: Number,
      default: 20,
    },
    upperPlane: {
      type: Number,
      default: 1000,
    },
    objects: {
      type: Array,
      default: () => [],
    },
    backgroundImage: {
      type: String,
      default: "",
    },
  },
  static() {
    return {
      scene: null,
      camera: null,
      orbitControls: null,
      meshObjects: [],
      renderer: null,
    };
  },
  data() {
    return {
      step: 1,
      speed: 100,
      orbitColor: 0x2dd881,
      meshColor: 0x2292a4,
      gridColor: 0x263d42,
      backgroundColor: 0x000011,
    };
  },
  mixins: [createSphereObject],
  methods: {
    init: function () {
      this.createScene();
      this.createCamera();
      this.createGrid();
      this.createSphereObjects();
      this.addSpotlight(0xff0000);
      this.addAmbientLight();
      if(this.preview) this.renderPreview();
      else this.animate();
      window.addEventListener("resize", this.onResize());
    },
    setStep: function (newStep) {
      this.step = Math.round(newStep);
    },
    setSpeed: function (newSpeed) {
      this.speed = newSpeed;
    },
    updateCamera: function (coord, val) {
      switch (coord) {
        case "x":
          this.orbitControls.object.position.x = val;
          break;
        case "y":
          this.orbitControls.object.position.y = val;
          break;
        case "z":
          this.orbitControls.object.position.z = val;
          break;
      }
      this.orbitControls.update();
    },
    resetControls() {
      //this.orbitControls.reset();
    },
    onResize: function () {
      let domContainer = this.$refs.visualizationScene;
      this.renderer.setSize(
        domContainer.clientWidth,
        domContainer.clientHeight
      );
      this.camera.aspect = domContainer.clientWidth / domContainer.clientHeight;
      this.camera.updateProjectionMatrix();
    },
    createScene: function () {
      let domContainer = this.$refs.visualizationScene;
      this.scene = new THREE.Scene();
      this.scene.background = new THREE.Color(this.backgroundColor);
      this.renderer = new THREE.WebGLRenderer({ alpha: true });
      this.renderer.setSize(this.width, this.height);
      domContainer.append(this.renderer.domElement);
    },
    createCamera: function () {
      this.camera = new THREE.PerspectiveCamera(
        45,
        this.width / this.height,
        this.lowerPlane,
        this.upperPlane
      );
      this.orbitControls = new OrbitControls(
        this.camera,
        this.renderer.domElement
      );
      this.orbitControls.keyPanSpeed = 20;
      this.camera.position.set(0, 0, this.zInit);
      this.orbitControls.update();
    },
    createGrid: function () {
      let domContainer = this.$refs.visualizationScene;
      const size = domContainer.clientWidth;
      const divisions = size / 5;
      const gridHelper = new THREE.GridHelper(
        size,
        divisions,
        0xffffff,
        this.gridColor
      );
      this.scene.add(gridHelper);
    },
    createSphereObjects: function () {
      this.objects &&
        this.objects.forEach((object) => {
          this.createSingleObject(object);
        })
    },
    createSingleObject(object){
      /** For preview **/
      if(object.transform && object.transform.scale)
        object.scale = object.transform.scale;
      /*****************/

      let radius = 1;//object.scale.local * object.scale.x;
      let geometry = new THREE.SphereGeometry(radius, 20, 20);
      let material = new THREE.MeshBasicMaterial({
        color: this.meshColor,
        reflectivity: 0.5,
      });
      
      let mesh = new THREE.Mesh(geometry, material);

      if(object.scale){
        let scale = object.scale;
        mesh.scale.set(scale.local*scale.x, scale.local*scale.y, scale.local*scale.z);
      }

      if (object.positions && object.positions.length) {
        let initPos = object.positions[0];
        mesh.position.set(initPos.x, initPos.y, initPos.z);
      }

      /** For preview **/
      if(object.transform && object.transform.rotation)
        object.rotation = object.transform.rotation;
      /*****************/

      if (object.rotation) {
        let rot = object.rotation;
        mesh.rotation.set(rot.x, rot.y, rot.z);
      }
      let meshObject = { threeObject: mesh, positions: object.positions };
      this.scene.add(mesh);
      this.meshObjects.push(meshObject);
    },
    addSpotlight: function (color) {
      const light = new THREE.SpotLight(color, 2, 1000);
      light.position.set(0, 0, 50);
      this.scene.add(light);
    },
    addAmbientLight: function () {
      const light = new THREE.AmbientLight(0xffffff, 1);
      this.scene.add(light);
    },
    trackOrbit(object, step, speed) {
      const material = new THREE.LineBasicMaterial({
        color: this.orbitColor,
      });

      const points = [];
      for (let i = 0; i <= speed; i++) {
        points.push(
          new THREE.Vector3(
            object.positions[step - i].x,
            object.positions[step - i].y,
            object.positions[step - i].z
          )
        );
      }
      const geometry = new THREE.BufferGeometry().setFromPoints(points);
      const line = new THREE.Line(geometry, material);
      this.scene.add(line);
    },
    resizeRenderer: function(width, height){
      this.renderer.setSize( width, height );
      this.camera.aspect = ( width ) / height;
      this.camera.updateProjectionMatrix();
    },
    renderPreview: function(){
      let body = document.querySelector("body");
      let origThis = this;
      console.log("Rendering preview");
      
      setInterval(function(){
        let width = body.clientWidth;

        if(origThis.configOpen) width = body.clientWidth - 600;
        origThis.resizeRenderer(width, body.clientHeight);

        let objectsLength = origThis.objects.length;

        if(objectsLength > origThis.meshObjects.length)
          origThis.createSingleObject(origThis.objects[objectsLength-1]);

        origThis.meshObjects = origThis.meshObjects.map((object, index) => {
          if (origThis.objects[index].transform){ 
            if(origThis.objects[index].transform.position) {
              let pos = origThis.objects[index].transform.position;
              object.threeObject.position.set(pos.x, pos.y, pos.z);
            }
            if(origThis.objects[index].transform.rotation){
              let rot = origThis.objects[index].transform.rotation;
              object.threeObject.rotation.set(rot.x, rot.y, rot.z);
            }
            if(origThis.objects[index].transform.scale){
              let scale = origThis.objects[index].transform.scale;
              object.threeObject.scale.set(scale.local*scale.x, scale.local*scale.y, scale.local*scale.z);
            }
          }
          return object;
        });
        
        //origThis.orbitControls.update();
        origThis.renderer.render(origThis.scene, origThis.camera);

      }, 100)
    },
    animate: function () {
      let origThis = this;
      let round = 1;
      setInterval(function () {
        origThis.meshObjects = origThis.meshObjects.map((object) => {
          if (object.positions && object.positions.length) {
            if (round === 1 && origThis.step - origThis.speed >= 0) {
              origThis.trackOrbit(object, origThis.step, origThis.speed);
            }
            let pos = object.positions[origThis.step];
            object.threeObject.position.set(pos.x, pos.y, pos.z);
          }
          return object;
        });
        //origThis.orbitControls.update();
        origThis.renderer.render(origThis.scene, origThis.camera);
        if (
          origThis.step + origThis.speed >=
          origThis.meshObjects[0].positions.length
        ) {
          origThis.step = 0;
          round++;
        } else origThis.step += origThis.speed;
      }, 100);
    },
  },
  mounted() {
    this.init();
  },
};
</script>

<style lang="scss" scoped>
.visualization-scene {
  height: 100vh;

  ::v-deep canvas {
    transition: width 0.2s ease-in-out;
  }
}
</style>
